/* Navbar Started */
.bg-home {
  background-color: #1bbca3;
}


/* Header Section */
.carousel-button {
  background-color: #1bbca3;
  border: none;
  border-radius: 40px;
}

/* About Section */
.Read-More {
  background-color: #1bbca3;
}
.about-svg svg {
  color: #95c4bd;
  font-size: 3rem;
}
.Read-More svg {
  color: white;
}
.about-content {
  margin-top: -200px;
}
.about-section {
  padding: 50px 0;
}
.about-content h2 {
  font-size: 2rem;
  font-weight: bold;
}
.about-content p {
  color: black;
}
.about-content ul {
  list-style: none;
  padding: 0;
}
.about-content ul li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.about-content ul li i {
  color: #1bbca3;
  margin-right: 10px;
}


/* More Services */
.service-card {
    border-radius: 10px;
    box-shadow: 0 5px 20px rgb(236, 236, 237);
    overflow: hidden;
    transition: transform 0.2s ease;
    border: none;
  }

  .service-card:hover {
    transform: translateY(-10px);
  }

  .service-card img {
    height: 350px;
    object-fit: cover;
  }

  .section-heading {
    font-size: 2rem;
    color: black;
    margin-bottom: 10px;
  }

  .section-subheading {
    color: black;
    margin-bottom: 40px;
  }


/* Frequently Asked Questions Section */
.Frequently-bg {
  background-color: #f1f3f7;
  padding-top: 2rem;
  padding-bottom: 2rem;
  }
  .FAQ-span {
    color: #1bbca3;
  }
  .faq-title {
    margin-bottom: 15px;
  }
  .faq-subtitle {
    color: black;
    margin-bottom: 40px;
  }
  .accordion-button {
    font-weight: bold;
  }
  .accordion-button:not(.collapsed) {
    color: white;
  }

  /* Contact Section */
  .contact-section {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.contact-box {
    background-color: rgb(246, 246, 250);
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.contact-box svg {
    color: #1bbca3;
}

.contact-box h5 {
    font-weight: bold;
}
.Send-Message {
  margin-left: 250px;
}

form .btn {
    background-color: #1bbca3;
    border: none;
}

form .btn:hover {
    background-color: #1bbca3;
}
.form-bg {
  background-color: rgb(246, 246, 250);
}

/* Footer Section */
.footer {
    background-color: black;
    padding: 40px 0;
}
.footer a {
    color: white;
    text-decoration: none;
}
.footer a:hover {
    color: white;
}
.social-icons i {
    color: white;
    font-size: 20px;
    margin: 0 10px;
}
.social-icons i:hover {
    color: white;
}